# PlatformIO / Build
.pio/
/build/

# IDE & Editor Configuration
.vscode/                 # VS Code konfigurace
.idea/                   # IntelliJ/IDEA konfigurace
*.code-workspace         # Soubory Workspace (např. .Bakalářka.code-workspace)

# Lokální pracovní složky
/src/main.cpp
/src/examples/

# System & Other Temporary Files
*.o                      # Objektové soubory
*.d                      # Soubory závislostí
*.map                    # Mapa souborů
*.elf                    # Zkompilovaný ELF soubor

# macOS
.DS_Store
# Windows
Thumbs.db